{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="error">
                Wystąpił błąd z połączeniem do serwera magazynu produktów. Spróbuj ponownie później.
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }

    .error {
        padding: 1em;
        border: 1px solid #c9302c;
        background: #EEBFBE;
        font-size: .75em;
    }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    }
</style>
{% endblock %}
